<ion-header>
  <ion-toolbar>
    <ion-title> Finding your match </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="top_padding">
      <ion-col size="5">
        <ion-row class="img_5">
          <ion-img src="/../assets/images/crown2.png" class="crown_img_4"></ion-img>
          <ion-avatar>
            <ion-img src="/../assets/images/friend2.png" class="friend_img"></ion-img>
          </ion-avatar>
          <p class="name-title">
            $Username
          </p>
        </ion-row>
      </ion-col>
      <ion-col size="2">
        <ion-avatar>
          <ion-img src="/../assets/images/divider.png" class="verticaldivider"></ion-img>
        </ion-avatar>
      </ion-col>
      <ion-col size="5">
        <ion-avatar>
          <ion-img src="/../assets/images/qimage.jpg" class="friend_img"></ion-img>
        </ion-avatar>
        <p class="name-title">
          $Username
        </p>
      </ion-col>
    </ion-row>
    <ion-row class="top_padding_2">
      <ion-col size="5">
        <ion-row class="img_5">
          <ion-avatar>
            <ion-img src="/../assets/images/qimage.jpg" class="friend_img"></ion-img>
          </ion-avatar>
          <p class="name-title">
            $Username
          </p>
        </ion-row>

      </ion-col>
      <ion-col size="2">
        <!-- <ion-avatar> -->
        <ion-img src="/../assets/images/vs.png" class="vs_img rotate-center"></ion-img>
        <!-- </ion-avatar> -->
      </ion-col>
      <ion-col size="5">
        <ion-avatar>
          <ion-img src="/../assets/images/qimage.jpg" class="friend_img"></ion-img>
        </ion-avatar>
        <p class="name-title">
          $Username
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>