<ion-header>
  <ion-toolbar>
     <ion-grid>
        <ion-row>
           <ion-col size="4">
              <ion-img routerLink="/index-afterlogin" src="/../assets/images/backarrow.png" class="back_arrow"></ion-img>
           </ion-col>
           <ion-col size="8">
              <ion-img src="/../assets/images/pass-single.png" class="pass_single"></ion-img>
              <h3 class="pass">PASS</h3>
           </ion-col>
        </ion-row>
     </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
     <div class="whitebg80 blugradient">
        <ion-row>
           <ion-col size="2">
              <h3 class="free">1 Free</h3>
           </ion-col>
           <ion-col size="2">
              <ion-img src="/../assets/images/pass-single.png" class="pass_single_img"></ion-img>
           </ion-col>
           <ion-col size="2">
              <h3 class="free">-&nbsp;Free</h3>
           </ion-col>
           <ion-col size="6">
              <!-- <ion-button class="video_btn">Watch Video</ion-button> -->
              <ion-button shape="circle" class="round">Watch Video</ion-button>
           </ion-col>
        </ion-row>
     </div>
  </ion-grid>
  <ion-grid>
     <div class="blugradient_2">
        <ion-row>
           <ion-col size="3">
              <h3 class="free">3 Free</h3>
           </ion-col>
           <ion-col size="3">
              <ion-img src="/../assets/images/pass-single.png" class="pass_pic"></ion-img>
           </ion-col>
           <ion-col size="6">
              <ion-img src="/../assets/images/fbshare.png" class="fb-top"></ion-img>
           </ion-col>
        </ion-row>
     </div>
  </ion-grid>
  <ion-grid>
     <div class="blugradient_3">
        <ion-row>
           <ion-col size="3">
              <h3 class="free">3 Free</h3>
           </ion-col>
           <ion-col size="3">
              <ion-img src="/../assets/images/pass-single.png" class="pass_pic"></ion-img>
           </ion-col>
           <ion-col size="6">
              <ion-img src="/../assets/images/twitter-share.png" class="fb-top"></ion-img>
           </ion-col>
        </ion-row>
     </div>
  </ion-grid>
  <ion-grid>
     <div class="white-bg white_bg_mar">
        <ion-row>
           <ion-col size="3">
              <h3 class="free">5 Free</h3>
           </ion-col>
           <ion-col size="3">
              <ion-img src="/../assets/images/pass-single.png" class="pass_pic"></ion-img>
           </ion-col>
           <ion-col size="6">
              <ion-button shape="circle" class="round_2">2000</ion-button>
              <ion-img src="/../assets/images/coin-single.png" class="coin"></ion-img>
           </ion-col>
        </ion-row>
     </div>
  </ion-grid>
  <ion-grid>
     <div class="white-bg">
        <ion-row>
           <ion-col size="3">
              <h3 class="free">10 Free</h3>
           </ion-col>
           <ion-col size="3">
              <ion-img src="/../assets/images/pass-single.png" class="pass_pic"></ion-img>
           </ion-col>
           <ion-col size="6">
              <ion-button shape="circle" class="round_2">3800</ion-button>
              <ion-img src="/../assets/images/coin-single.png" class="coin"></ion-img>
           </ion-col>
        </ion-row>
     </div>
  </ion-grid>
  <ion-grid>
     <div class="white-bg">
        <ion-row>
           <ion-col size="3">
              <h3 class="free">20 Free</h3>
           </ion-col>
           <ion-col size="3">
              <ion-img src="/../assets/images/pass-single.png" class="pass_pic"></ion-img>
           </ion-col>
           <ion-col size="6">
              <ion-button shape="circle" class="round_2">7200</ion-button>
              <ion-img src="/../assets/images/coin-single.png" class="coin"></ion-img>
           </ion-col>
        </ion-row>
     </div>
  </ion-grid>
  <ion-grid class="bottom">
     <div class="white-bg">
        <ion-row>
           <ion-col size="3">
              <h3 class="free">50 Free</h3>
           </ion-col>
           <ion-col size="3">
              <ion-img src="/../assets/images/pass-single.png" class="pass_pic"></ion-img>
           </ion-col>
           <ion-col size="6">
              <ion-button shape="circle" class="round_2">1600</ion-button>
              <ion-img src="/../assets/images/coin-single.png" class="coin"></ion-img>
           </ion-col>
        </ion-row>
     </div>
  </ion-grid>
</ion-content>