<ion-header>
	<ion-toolbar>
		<ion-title> 
			<ion-img src="/../assets/images/shop.png" class="coin_single"></ion-img>
			Coin Shop 
		</ion-title>
		<ion-img routerLink="/index-afterlogin" src="assets/images/backarrow.png" class="arrow_back"></ion-img>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid>
		<ion-row>
			<ion-col>
				<h3 class="offer-title">Offer of the day</h3>
			</ion-col>
		</ion-row>
	</ion-grid>
	<!--<ion-grid>
		<div class="blugradient_4">
			<ion-row>
				<ion-col size="6" class="shoplist">
					<ion-col size="6">30000 <img src="/../assets/images/coin-single.png" alt="" /> +25<img
						src="/../assets/images/hint-single.png" alt="" /> 
					</ion-col>
					<ion-col size="6">+25<img src="/../assets/images/pass-single.png" alt="" /> + 25 <img
							src="/../assets/images/time-frezo-single.png" alt="" />
					</ion-col>
				</ion-col>
				<ion-col size="6">
					<ion-button class="video_btn_2">$0.99</ion-button>
				</ion-col>
			</ion-row>
		</div>
	</ion-grid>-->

	<ng-container *ngFor="let data of this.shopData['USD'] | keyvalue:disableSort;">		
		<div class="shoplist_2">
			<ion-row>
				<ion-col size="6">
					<ion-col size="6" class="crate2"><img src="assets/images/crateicon.png" alt="" /></ion-col>
					<ion-col size="6"><span>{{data.value.coins}}</span> <img src="assets/images/coin-single.png" alt="" class="shoplist_2img" /></ion-col>
				</ion-col>
				<ion-col size="6">
					<ion-button class="video_btn_3" data-toggle="modal" data-target="#shopModal" (click)="buyCoinPaypal(data.key,data.value.value,data.value.coins)">${{data.value.value}}</ion-button>
				</ion-col>
			</ion-row>
		</div>
	</ng-container>						
</ion-content>

<div class="modal login" id="shopModal" tabindex="-1" role="dialog" *ngIf="this.payModel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" style="float: right;" (click)="closePayModel()">&times;</button>
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true"><img src="assets/img/close-btn.png" alt=""/></span>
				</button>
				<ngx-paypal [config]="payPalConfig"></ngx-paypal>
			</div>
		</div>
	</div>
</div>


