<ion-header>
  <ion-toolbar class="header_hgt">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-img src="/../assets/images/backarrow.png" class="back_arrow"></ion-img>
        </ion-col>
        <ion-col size="8">
          <ion-img src="/../assets/images/logo-2.png" class="logo_set"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="flex-container">
          <div>
            <ion-img src="/../assets/images/pass.png" class="pass_pic"></ion-img>
            <ion-icon name="add" class="add_btn"></ion-icon>
          </div>
          <div class="number_font">103</div>
          <div>
            <ion-img src="/../assets/images/hints.png" class="pass_pic"></ion-img>
            <ion-icon name="add" class="add_btn"></ion-icon>
          </div>
          <div>
            <div class="number_font">103</div>
          </div>
          <div>
            <ion-img src="/../assets/images/time.png" class="pass_pic"></ion-img>
            <ion-icon name="add" class="add_btn"></ion-icon>
          </div>
          <div>
            <div class="number_font">103</div>
          </div>
          <div>
            <ion-img src="/../assets/images/coin.png" class="pass_pic"></ion-img>
            <ion-icon name="add" class="add_btn"></ion-icon>
          </div>
          <div>
            <div class="number_font">103</div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-avatar class="img-center">
          <ion-img src="/../assets/images/user1.jpg" class="user-pic"></ion-img>
        </ion-avatar>
        <p class="users-name">You</p>
      </ion-col>
      <ion-col size="4">
        <p class="vs-text">VS</p>
      </ion-col>
      <ion-col size="4">
        <ion-avatar>
          <ion-img src="/../assets/images/user3.png" class="user-pic-2"></ion-img>
        </ion-avatar>
        <p class="users-name2">Arpit</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>