:host {
	.background {
		--background: url('/../assets/images/bg-patern.png');
		background-repeat: no-repeat;
		background-size: 100%;
		.heading__text {
			padding-top: 6.5rem;
			h2 {
				font-family: 'Open Sans', sans-serif;
				text-align: center;
				color: #fff;
				font-size: 1.6rem;
				letter-spacing: 0.5px;
			}
			.redirect__homepage__button {
				margin: 2rem auto !important;
				display: block;
				width: -webkit-fit-content;
				width: -moz-fit-content;
				width: fit-content;
				padding: 0px 0px;
				letter-spacing: 1px;
				font-size: 13px;
				border-radius: 10px;
				border: 2px solid #37A304;
				height: 31px;
				margin-bottom: 3.2rem !important;
				--background: rgb(124, 188, 10);
				--background: linear-gradient(to bottom, rgba(124, 188, 10, 1) 0%, rgba(157, 213, 58, 1) 0%, rgba(255, 255, 255, 1) 2%, rgba(157, 213, 58, 1) 23%, rgba(128, 194, 23, 1) 49%, rgba(128, 194, 23, 1) 49%, rgba(128, 194, 23, 1) 49%, rgba(114, 175, 21, 1) 49%, rgba(108, 193, 17, 1) 100%);
				font-family: 'Open Sans', sans-serif;
				a {
					text-shadow: 0px 0px 10px #000;
					color: #fff;
					text-decoration: none !important;
					font-weight: 800;
				}
			}
			.win__box {
				margin-top: -0.7rem;
			}
			.network {
				width: 60px;
			}
			.game__name {
				width: 150px;
				position: relative;
				top: -1rem;
			}
		}
		.two_image {
			ion-img {
				width: 103%;
			}
			&--right {
				margin-left: -0.3rem;
			}
		}
		.gradient__image {
			margin: 10px;
			border-radius: 20px;
			// height: 150px;
			background: rgb(4, 111, 158);
			background: linear-gradient(to right, rgba(4, 111, 158, 1) 1%, rgba(25, 153, 209, 1) 49%, rgba(4, 111, 158, 1) 100%);
			h3 {
				font-weight: 900;
				color: #FCEA74;
				text-transform: uppercase;
				background: url('/../assets/images/title-bg.png') no-repeat center center;
				background-size: contain;
				text-shadow: 0 0 5px #000;
				border-bottom: 2px dashed #64b5d4;
				padding-bottom: 5px;
				margin-bottom: 10px;
				font-size: 17px;
				font-family: "Open Sans", sans-serif;
				margin: 15px;
			}
			.coltxt {
                padding: 0 25px 20px 20px;
                color: #fff;
                line-height: 1.5;
                font-size: 14px;
                font-weight: 300;
                font-family: auto;
                font-family: "Open Sans", sans-serif;
                p {
                    margin-bottom: 0;
                    margin-top: 0;
                }
                .watch__live {
                    --border-radius: 10px;
                    display: inline-block;
                    margin: 10px 0 0;
                    --background: #0189bf;
                    --background: linear-gradient(135deg, #0189bf 1%, #2cafe3 100%);
                    --box-shadow: none !important;
                    font-size: 11px;
                    font-family: "Open Sans", sans-serif;
                    font-weight: 800;
                    text-transform: capitalize;
                }
            }
            .botton-box {
                background: linear-gradient(to bottom, #f79318 0%, #f95204 100%);
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                padding: 5px;
                text-align: center;
                color: #fff;
                font-weight: 600;
                font-size: 14px;
                text-align: center;
                line-height: 1.3;
                padding: 10px;
            }
            
            .para-center {
                display: block;
                margin: 0px auto;
            }
            .swiper-container {
                overflow: hidden;
                list-style: none;
                padding: 11px;
                z-index: 1;
                width: 90%;
            }
            .slider-arrow {
                position: relative;
                top: 70px;
                color: #fff;
                font-size: 25px;
            }
            .slider-arrow1 {
                position: relative;
                top: 45px;
                color: #fff;
                font-size: 25px;
                left: 5px;
            }
            .box-2 {
                background: linear-gradient(45deg, rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%);
                border-radius: 10px;
                margin: 0 5px;
                padding: 0px;
                h6 {
                    text-align: center;
                    font-weight: 600;
                    margin: 5px 0 5px 0;
                    color: #143c55;
                    font-size: 14px;
                }
            }
		}
	}
	ion-header {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 1030;
		bottom: 100%;
	}
	ion-header ion-toolbar {
		--background: url('/../assets/images/mobile-header-bg.png') no-repeat center center / 100% 100% !important;
	}
}

.header__column {
	position: absolute;
	height: 60px;
	.user_image {
		.badge {
			position: absolute;
			left: 10%;
			--background: #E72105;
			border-radius: 50%;
			width: 25px;
			height: 25px;
			padding: 5px;
			z-index: 999;
		}
		.user__star {
			width: 40px;
		}
		.user {
			width: 35px;
			height: 35px;
		}
	}
	.select {
		// color: #fff;
		// position: absolute;
		// top: 10%;
		// right: 3%;
		// background: transparent;
		// border: 3px solid #fff;
		// border-radius: 50px;
		// width: 30px;
		// height: 30px;
		// font-size: 11px;
		// padding: 5px;
		// font-weight: 700;
		// font-family: 'Open Sans', sans-serif;
		position: relative;
		float: right;
		display: flex;
		background: transparent;
		border: 3px solid #fff;
		border-radius: 50px;
		width: 30px;
		height: 30px;
		font-size: 11px;
		padding: 5px;
		font-weight: 700;
		font-family: "Open Sans", sans-serif;
		top: -2rem;
		outline: none;
		left: -0.3rem;
		cursor: pointer;
		z-index: 9999;
        
    }
    // .alert-button {
    //     position: relative !important;
    //     height: 100% !important;
    //     background-image: none !important;
    //     background-size: 100% auto;
    //     background-repeat: no-repeat;
    //     cursor: pointer;
    //     top: 0 !important;
    //     left: 0 !important;
    //     z-index: 999 !important;
	// }
	.button {
		background: none !important;
		
	}
}

.list_image {
	display: flex;
	list-style: none;
	margin-top: 0.3rem;
	margin: 1px 0px 10px -8px;
	li {
		ion-img {
			width: 55px;
			margin: 0 0px 0 3px;
			height: 30px;
			position: relative;
			left: 5px;
		}
		.add__more {
			width: 40%;
			margin-top: -1.5rem;
			margin-left: 1rem;
		}
		i {
			position: absolute;
		}
	}
	span {
		color: #fff;
		font-weight: 600;
		font-size: 12px;
		text-align: center;
		display: block;
		margin-top: -1rem;
		margin-left: 1rem;
		position: relative;
		left: 0.2rem;
		top: -0.5rem;
	}
}

@media only screen and (min-width: 360px) and (max-width: 567px) {
	.win__box {
		width: 75%;
		margin: 0 auto;
	}
	.list_image {
		li {
			margin: 0 5px !important;
		}
	}
	.background {
		.heading__text {
			.fb__coin {
				width: 70%;
				float: right;
			}
		}
	}
}

.footer__image__section {
	.footer_images {
		position: fixed;
		z-index: 999;
		width: 19%;
	}
}
