<ion-header>
  <ion-toolbar class="hgt_head">
    <ion-grid>
      <ion-row class="header__image">
        <ion-col size="4">
          <ion-img src="assets/images/green-timer.png" (click)="gtIndex()"></ion-img>
        </ion-col>
        <ion-col size="4">
          <span class="timer_span">{{subTimer}}</span>
          <ion-img src="/../assets/images/timer2.png" class="timer_img"></ion-img>
        </ion-col>
        <ion-col size="3">
          <ion-text class="text_set_2">
            12
          </ion-text>
          <ion-img src="/../assets/images/crown2.png" (click)="disconnectPassword()" class="crown_img_6"></ion-img>
        </ion-col>
        <ion-col size="4">
          <ion-img src="assets/images/orange-timer.png"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="background">

  <div class="round" *ngIf="roundNumber">Round {{roundNumber}}</div>


  <ion-grid class="top_padding">

    <div class="image__section">
      <ion-row>
        <ion-col>
          <p class="num">12</p>
          <ion-img src="assets/images/eye.png" class="eye_image"></ion-img>
        </ion-col>
      </ion-row>


      <ion-row *ngIf="!swapTeam">
        <ion-col col-3 class="four_image_section">
          <ion-avatar>
            <p class="username">{{t2p1.username}}</p>
            <p class="username">{{t2p1.role}}</p>
            <ion-img src="assets/images/user1.jpg" class="user__image"></ion-img>
          </ion-avatar>
        </ion-col>
        <ion-col col-3 class="four_image_section">
          <div>
            <ion-img src="assets/images/emoji.png" class="emoji__icon_left"></ion-img>
          </div>
        </ion-col>
        <ion-col col-3 class="four_image_section">
          <div class="right_image">
            <ion-img src="assets/images/emoji.png" class="emoji__icon_right"></ion-img>
          </div>
        </ion-col>
        <ion-col col-3 class="four_image_section">
          <ion-avatar>
            <p class="username">{{t2p2.username}}</p>
            <p class="username">{{t2p2.role}}</p>
            <ion-img src="assets/images/alert-img.png" class="user__image"></ion-img>
          </ion-avatar>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="swapTeam">
        <ion-col col-3 class="four_image_section">
          <ion-avatar>
            <p class="username">{{t1p1.username}}</p>
            <p class="username">{{t1p1.role}}</p>
            <ion-img src="assets/images/user1.jpg" class="user__image"></ion-img>
          </ion-avatar>
        </ion-col>
        <ion-col col-3 class="four_image_section">
          <div>
            <ion-img src="assets/images/emoji.png" class="emoji__icon_left"></ion-img>
          </div>
        </ion-col>
        <ion-col col-3 class="four_image_section">
          <div class="right_image">
            <ion-img src="assets/images/emoji.png" class="emoji__icon_right"></ion-img>
          </div>
        </ion-col>
        <ion-col col-3 class="four_image_section">
          <ion-avatar>
            <p class="username">{{t1p2.username}}</p>
            <p class="username">{{t1p2.role}}</p>
            <ion-img src="assets/images/alert-img.png" class="user__image"></ion-img>
          </ion-avatar>
        </ion-col>
      </ion-row>
    </div>


    <div class="chatbox">

      <ion-row *ngIf="!swapTeam">
        <ion-col size="9">
          <h3>{{t2p1Msgs[t2p1Msgs.length-1]}}</h3>
        </ion-col>
        <ion-col size="3">
          <h2>{{t2p2Msgs[t2p2Msgs.length-1]}}</h2>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="swapTeam">
        <ion-col size="9">
          <h3>{{t1p1Msgs[t1p1Msgs.length-1]}}</h3>
        </ion-col>
        <ion-col size="3">
          <h2>{{t1p2Msgs[t1p2Msgs.length-1]}}</h2>
        </ion-col>
      </ion-row>


    </div>




    <div class="chatbox">

      <!-- Word Good for use -->
      <ion-grid *ngIf="mainWord.length && displayWord">
        <ion-row>
          <ion-col class="mainWord">
            <p>Main Word : {{mainWord}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- Word Good for use -->


      <ion-row *ngIf="!swapTeam">

        <ion-col size="12">
          <ion-row *ngIf="!swapPlayer">

            <ion-col size="9">
              <h3>{{t1p1Msgs[t1p1Msgs.length-1]}}</h3>
            </ion-col>
            <ion-col size="3">
              <h2>{{t1p2Msgs[t1p2Msgs.length-1]}}</h2>
            </ion-col>

          </ion-row>

          <ion-row *ngIf="swapPlayer">

            <ion-col size="9">
              <h2>{{t1p2Msgs[t1p2Msgs.length-1]}}</h2>
            </ion-col>
            <ion-col size="3">
              <h3>{{t1p1Msgs[t1p1Msgs.length-1]}}</h3>
            </ion-col>

          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="swapTeam">
        <ion-col size="12">
          <ion-row *ngIf="!swapPlayer">

            <ion-col size="9">
              <h3>{{t2p1Msgs[t2p1Msgs.length-1]}}</h3>
            </ion-col>
            <ion-col size="3">
              <h2>{{t2p2Msgs[t2p2Msgs.length-1]}}</h2>
            </ion-col>

          </ion-row>

          <ion-row *ngIf="swapPlayer">

            <ion-col size="9">
              <h2>{{t2p2Msgs[t2p2Msgs.length-1]}}</h2>
            </ion-col>
            <ion-col size="3">
              <h3>{{t2p1Msgs[t2p1Msgs.length-1]}}</h3>
            </ion-col>

          </ion-row>
        </ion-col>
      </ion-row>










      <ion-row *ngIf="!swapTeam">
        <ion-col size="3">
          <ion-avatar *ngIf="!swapPlayer">
            <ion-img src="assets/images/user1.jpg" class="user__image"></ion-img>
            <p class="username">{{t1p1.username}}</p>
            <p class="username">{{t1p1.role}}</p>
          </ion-avatar>

          <ion-avatar *ngIf="swapPlayer">
            <ion-img src="assets/images/user1.jpg" class="user__image"></ion-img>
            <p class="username">{{t1p2.username}}</p>
            <p class="username">{{t1p2.role}}</p>
          </ion-avatar>

        </ion-col>
        <ion-col size="6">
          <div class="three_image_badge">
            <div>
              <ion-badge shap="round" color="danger" class="badge__icon">102</ion-badge>
              <ion-img src="assets/images/pass-icon.png" class="badge_image"></ion-img>
            </div>
            <div>
              <ion-badge color="danger" class="badge__icon">62</ion-badge>
              <ion-img src="assets/images/hints-icon.png" class="badge_image"></ion-img>
            </div>
            <div>
              <ion-badge color="danger" class="badge__icon">102</ion-badge>
              <ion-img src="assets/images/timr-frezo-icon.png" class="badge_image"></ion-img>
            </div>
          </div>
        </ion-col>
        <ion-col size="3">
          <ion-avatar *ngIf="!swapPlayer">
            <ion-img src="assets/images/alert-img.png" class="user__image"></ion-img>
            <p class="username">{{t1p2.username}}</p>
            <p class="username">{{t1p2.role}}</p>
          </ion-avatar>

          <ion-avatar *ngIf="swapPlayer">
            <ion-img src="assets/images/alert-img.png" class="user__image"></ion-img>
            <p class="username">{{t1p1.username}}</p>
            <p class="username">{{t1p1.role}}</p>
          </ion-avatar>
        </ion-col>
      </ion-row>



      <ion-row *ngIf="swapTeam">
        <ion-col size="3">
          <ion-avatar *ngIf="!swapPlayer">
            <ion-img src="assets/images/user1.jpg" class="user__image"></ion-img>
            <p class="username">{{t2p1.username}}</p>
            <p class="username">{{t2p1.role}}</p>
          </ion-avatar>
          <ion-avatar *ngIf="swapPlayer">
            <ion-img src="assets/images/user1.jpg" class="user__image"></ion-img>
            <p class="username">{{t2p2.username}}</p>
            <p class="username">{{t2p2.role}}</p>
          </ion-avatar>
        </ion-col>
        <ion-col size="6">
          <div class="three_image_badge">
            <div>
              <ion-badge shap="round" color="danger" class="badge__icon">102</ion-badge>
              <ion-img src="assets/images/pass-icon.png" class="badge_image"></ion-img>
            </div>
            <div>
              <ion-badge color="danger" class="badge__icon">62</ion-badge>
              <ion-img src="assets/images/hints-icon.png" class="badge_image"></ion-img>
            </div>
            <div>
              <ion-badge color="danger" class="badge__icon">102</ion-badge>
              <ion-img src="assets/images/timr-frezo-icon.png" class="badge_image"></ion-img>
            </div>
          </div>
        </ion-col>
        <ion-col size="3">
          <ion-avatar *ngIf="!swapPlayer">
            <ion-img src="assets/images/alert-img.png" class="user__image"></ion-img>
            <p class="username">{{t2p2.username}}</p>
            <p class="username">{{t2p2.role}}</p>
          </ion-avatar>
          <ion-avatar *ngIf="swapPlayer">
            <ion-img src="assets/images/alert-img.png" class="user__image"></ion-img>
            <p class="username">{{t2p1.username}}</p>
            <p class="username">{{t2p1.role}}</p>
          </ion-avatar>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="user.teamId == activeTeam">
        <!-- <ion-row> -->
        <div class="chatinput">
          <ion-input placeholder="enter chat..." [(ngModel)]="chatText"></ion-input>
          <ion-button color="primary" class="submit_btn" (click)="sendChat()">
            <ion-icon ios="ios-arrow-round-forward" md="md-arrow-round-forward" class="arrow__input"></ion-icon>
          </ion-button>
        </div>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>