<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-img src="/../assets/images/catchphrase.png" class="play_btn"></ion-img>
        </ion-col>
        <ion-col size="6" (click)="showBooleans()">
          <span class="timer_span">{{subTimer}}</span>
          <ion-img src="/../assets/images/timer2.png" class="timer_img"></ion-img>
        </ion-col>
        <ion-col size="3">
          <ion-text class="text_set_2">
            12
          </ion-text>
          <ion-img src="/../assets/images/crown2.png" class="crown_img_6"></ion-img>
          <ion-avatar>
            <ion-img src="/../assets/images/user1.jpg" class="user_img_2"></ion-img>
          </ion-avatar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-grid>

    <ion-row *ngIf="displayWord">
      <ion-col class="mainWord">
        <p>{{mainWord}}</p>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="freezoActived">
      <ion-col>
        <h1 style="color: white;">Freezo Activated</h1>
      </ion-col>
    </ion-row>

    <ion-row class="chat_section">
      <ion-col size="8" *ngIf="!isSwap">
        <h4 class="chat_box">{{t1p1Msgs[t1p1Msgs.length-1]}}</h4>
      </ion-col>
      <ion-col size="4" *ngIf="!isSwap">
        <h4 class="chat_box">{{t2p1Msgs[t2p1Msgs.length-1]}}</h4>
      </ion-col>

      <ion-col size="8" *ngIf="isSwap">
        <h4 class="chat_box">{{t1p1Msgs[t1p1Msgs.length-1]}}</h4>
      </ion-col>
      <ion-col size="4" *ngIf="isSwap">
        <h4 class="chat_box">{{t2p1Msgs[t2p1Msgs.length-1]}}</h4>
      </ion-col>


      <ion-col size="3">
        <ion-avatar>
          <ion-img src="/../assets/images/user1.jpg" class="user_img_4"></ion-img>
        </ion-avatar>
        <div *ngIf="!isSwap">
          <h5 class="user_img_3">{{t2p1.username}}</h5>
          <h5 class="user_img_3">{{t2p1.role}}</h5>
        </div>
        <div *ngIf="isSwap">
          <h5 class="user_img_3">{{t1p1.username}}</h5>
          <h5 class="user_img_3">{{t1p1.role}}</h5>
        </div>
      </ion-col>


      <ion-col size="6">
        <div class="flex_box">
          <div class="ims_set2" (click)="clickPowerPass()">
            <span class="icon_set_2">102</span>
            <ion-img src="/../assets/images/pass-icon.png" class="pass-icon"></ion-img>
          </div>
          <!-- <div class="ims_set2">
            <span class="icon_set_2">62</span>
            <ion-img src="/../assets/images/hints-icon.png" class="pass-icon"></ion-img>
          </div> -->
          <div class="ims_set2" *ngIf="!freezoActived" (click)="clickFreezo()">
            <span class="icon_set_2">102</span>
            <ion-img src="/../assets/images/timr-frezo-icon.png" class="pass-icon"></ion-img>
          </div>
        </div>
      </ion-col>



      <ion-col size="3">
        <ion-avatar>
          <ion-img src="/../assets/images/user2.jpg" class="user_img_4"></ion-img>
        </ion-avatar>


        <div *ngIf="isSwap">
          <h5 class="user_img_3">{{t2p1.username}}</h5>
          <h5 class="user_img_3">{{t2p1.role}}</h5>
        </div>
        <div *ngIf="!isSwap">
          <h5 class="user_img_3">{{t1p1.username}}</h5>
          <h5 class="user_img_3">{{t1p1.role}}</h5>
        </div>



        <!-- <h6 *ngIf="mainWord.length">Clue Giver</h6>
        <h6 *ngIf="!mainWord.length">Guesser</h6> -->
      </ion-col>
      <ion-col *ngIf="user.email==t1p1.userId || user.email==t2p1.userId">
        <ion-input placeholder="enter chat..." autofocus="true" [(ngModel)]="chatText" class="input_set">
        </ion-input>
        <ion-button color="primary" class="btn_set_5" (click)="sendChat()">
          <ion-icon name="md-arrow-forward" class="arrow"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>