<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col class="ion-align-self-start">
        <ion-row>
          <ion-img class="header-icons" src="./assets/images/plus.png"></ion-img>
          <ion-img src="./assets/images/pass-new.png"></ion-img>
          <ion-label class="number-position">203</ion-label>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-img class="header-icons" src="./assets/images/plus.png"></ion-img>
          <ion-img src="./assets/images/hints-new.png"></ion-img>
          <ion-label class="number-position">203</ion-label>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-img class="header-icons" src="./assets/images/plus.png"></ion-img>
          <ion-img class="" src="./assets/images/time-freezo.png"></ion-img>
          <ion-label class="number-position"> 203 </ion-label>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-img class="header-icons" src="./assets/images/plus.png"></ion-img>
          <ion-img class="" src="./assets/images/coin-new.png"></ion-img>
          <ion-label class="number-position"> 100 </ion-label>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-row>
    <ion-col col-12>
      <ion-img class="logo" src="./assets/images/guesswat-logo-new.png"></ion-img>
      <h3 class="heading">OUR TERMS &nbsp;&nbsp; | &nbsp;&nbsp; PRIVACY</h3>
    </ion-col>
  </ion-row>

  <ion-grid class="background__color">
    <ion-row class="form__section">
      <ion-col col-12 class="col-space">

        <form [formGroup]="userForm" #formDir="ngForm">
          <div class="form-group">
            <label for="email">Email</label>
            <input id="email" class="form-control" formControlName="email" placeholder="Enter Your Email" required />

            <div
              *ngIf="userForm.controls.email.invalid && (userForm.controls.email.dirty || userForm.controls.email.touched)"
              class="alert alert-danger">
              <div *ngIf="userForm.controls.email.errors.required"> Email is required.</div>
              <div *ngIf="userForm.controls.email.errors.email"> Email is not valid.</div>
              <div *ngIf="userForm.controls.email.errors.isEmailUnique">This email has been registered already</div>
            </div>
          </div>

          <div class="btnwrapper text-left">
            <ion-button type="submit" (click)="submitForm()" class="login__button"> Submit
              <img src="assets/images/loader.gif" class="loadingimg" *ngIf="showLoaderImg" />
            </ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="second__section">
    <ion-row class="col-space">
      <ion-col col-12 class="form__section">
        <ion-button routerLink="/auth/login" class="sign_btn" shape="circle">Login<ion-icon name="arrow-dropright-circle">
          </ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>