<ion-header>
  <ion-toolbar>
    <ion-title> Offline </ion-title>
    <ion-img routerLink="/index-afterlogin" src="assets/images/backarrow.png" class="arrow_back"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content class="background">

  <ion-grid class="top_padding">
    <ion-row>
      <ion-col size="3" offset="0">
        <h1>Total Played 100</h1>
      </ion-col>
      <ion-col size="2" offset="6">
        <h1>Total Won 60</h1>
      </ion-col>
    </ion-row>
    <div class="chatbox">
      <ion-row>
        <ion-col size="3">
          <h2>Hi</h2>
        </ion-col>
        <ion-col size="9">
            <h3>Hello</h3>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="3">
          <ion-avatar>
            <ion-img src="assets/images/user1.jpg" class="user__image"></ion-img>
            <p class="username">$Username</p>
          </ion-avatar>
        </ion-col>
        <ion-col size="9">
          <ion-avatar class="right_image_text">
            <ion-img src="assets/images/alert-img.png" class="user__image"></ion-img>
            <p class="username username--right-image">$Username</p>
          </ion-avatar>
        </ion-col>
      </ion-row>

      <ion-row>
        <div class="chatinput">
          <ion-button color="primary" class="submit_btn"> <ion-icon ios="ios-arrow-round-forward" md="md-arrow-round-forward" class="arrow__input"></ion-icon>
          </ion-button>
          <ion-input placeholder="enter chat..."></ion-input>
        </div>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>