<ion-header>
	<ion-toolbar>
		<ion-title> 
			<!--<img src="assets/images/hint-single.png" class="pass_single1"/>-->
			Pass Shop 
		</ion-title>
		<ion-img routerLink="/index-afterlogin" src="assets/images/backarrow.png" class="arrow_back"></ion-img>
	</ion-toolbar>
</ion-header>


<ion-content class="background shoppage">
	<div class="header_margin">
	</div>	

	<ng-container *ngFor="let data of this.passData | keyvalue:disableSort;">

		<ion-grid *ngIf="this.user.gameprofile.coins >= data.value.coins">
			<div class="white-bg">
				<ion-row>
					<ion-col size="3">
						<h3 class="free">{{data.value.value}} Free</h3>
					</ion-col>
					<ion-col size="3">
						<ion-img src="assets/images/hint-single.png" class="pass_pic"></ion-img>
					</ion-col>
					<ion-col size="6">
						<ion-button class="video_btn" (click)="changeAmount(data.key,data.value.value,data.value.coins)">{{data.value.coins}}</ion-button>
						<ion-img src="assets/images/coin-single.png" class="coin"></ion-img>
					</ion-col>
				</ion-row>
			</div>
		</ion-grid>

	</ng-container>

</ion-content>